.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.section__title {
  margin: 2em 0;
  font-size: 4rem;
  font-weight: 300;
  color: $dark;
  text-transform: uppercase;
  text-align: center;
}
