@import "./_colors";
@import "./_components";
@import "./mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 7vh;
  padding: 1em;
  background-color: $grey;
  overflow: hidden;
  z-index: 1;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
  }

  &__logo {
    font-size: 2rem;
  }

  &__burger-icon {
    position: relative;
    padding: 1em;
    cursor: pointer;

    &-bar {
      @include bar;
      transition: transform 0.3s, opacity 0.3s;

      &.top.active {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &.mid.active {
        transform: translateX(-30px);
        opacity: 0;
      }

      &.bot.active {
        transform: rotate(-45deg) translate(6px, -7px);
      }
    }
  }
}

.menu-mobile {
  position: fixed;
  width: 100%;
  top: -200px;
  left: 0;
  padding: 2em 4em;
  transition: top 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: $grey;

  &__list {
    list-style: none;

    &-item {
      position: relative;
      margin-bottom: 1.5em;
      background-color: $grey;

      &::before {
        position: absolute;
        left: -1em;
        content: "";
        height: 100%;
        width: 3px;
        background-color: $dark;
      }

      & a {
        text-decoration: none;
        color: $dark;
        font-size: 2rem;
        font-weight: 300;
      }

      &.active {
        animation: entry 1s both;
      }
    }
  }

  &.active {
    top: 7vh;
  }
}

.menu-desktop {
  display: none;

  &__list {
    display: flex;
    list-style: none;

    &-item {
      height: 100%;

      & a {
        padding: 2em;
        color: black;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
          background-color: $dark;
          color: $pure-white;
        }
      }
    }
  }
}

@keyframes entry {
  from {
    transform: translateY(-400%);
  }
  to {
    transform: translateY(0);
  }
}

// ======================
//       HEADER

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 100%;
  height: 50vh;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.49) 0%,
      rgba(0, 0, 0, 0.49) 100%
    ),
    url("../img/hero-header-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $pure-white;

  &__title {
    font-size: 5rem;
  }

  &__description {
    font-size: 2rem;
  }
}

// =======================
//    O NAS

.about {
  &__box {
    padding: 1em;
    &__img {
      margin-bottom: 2em;
      & img {
        width: 100%;
      }
    }

    &__text {
      &__title {
        margin-bottom: 1em;
        font-size: 2.4rem;
      }
    }
  }
}

.hero {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.49) 0%,
      rgba(0, 0, 0, 0.49) 100%
    ),
    url("../img/hero-section-mobile.jpg");
  background-position: center;
  background-size: cover;
  padding: 2em;

  &__text {
    padding: 1em 3em;
    border: 1px solid $pure-white;
    color: $pure-white;
  }
}

// ================================
//          MEDIA
// ================================

@media (min-width: 576px) {
  .navbar {
    padding: 0.8em 2.5em;

    &__logo {
      font-size: 3.5rem;
    }
  }
}

@media (min-width: 768px) {
  .header {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.49) 0%,
        rgba(0, 0, 0, 0.49) 100%
      ),
      url("../img/hero-header-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__title {
      font-size: 6rem;
    }

    &__description {
      font-size: 3rem;
    }
  }
}

@media (min-width: 992px) {
  .burger {
    display: none;
  }
  .menu-mobile {
    display: none;
  }
  .menu-desktop {
    display: block;
  }
}
