@import "./_colors";
@import "./_components";
@import "./mixins";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.navbar {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 7vh;
  padding: 1em;
  background-color: $grey;
  z-index: 1;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
  }

  &__logo {
    font-size: 2rem;
  }

  &__burger-icon {
    position: relative;
    padding: 1em;
    cursor: pointer;

    &-bar {
      @include bar;
      transition: transform 0.3s, opacity 0.3s;

      &.top.active {
        transform: rotate(45deg) translate(5px, 5px);
      }

      &.mid.active {
        transform: translateX(-30px);
        opacity: 0;
      }

      &.bot.active {
        transform: rotate(-45deg) translate(6px, -7px);
      }
    }
  }
}

.menu-mobile {
  position: fixed;
  width: 100%;
  top: -200px;
  left: 0;
  padding: 2em 4em;
  transition: top 1s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: $grey;

  &__list {
    list-style: none;

    &-item {
      position: relative;
      margin-bottom: 1.5em;
      background-color: $grey;

      &::before {
        position: absolute;
        left: -1em;
        content: "";
        height: 100%;
        width: 3px;
        background-color: $dark;
      }

      & a {
        text-decoration: none;
        color: $dark;
        font-size: 2rem;
        font-weight: 300;
      }

      &.active {
        animation: entry 1s both;
      }
    }
  }

  &.active {
    top: 7vh;
  }
}

@keyframes entry {
  from {
    transform: translateY(-400%);
  }
  to {
    transform: translateY(0);
  }
}

// ================================
//          MEDIA
// ================================

@media (min-width: 576px) {
  .navbar {
    padding: 0.8em 2.5em;

    &__logo {
      font-size: 3.5rem;
    }
  }
}
